@import url(nullstyle.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Style+Script&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #756943;
    // font-family: 'Style Script', cursive;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    background-color: rgb(184, 158, 158);
}

.header {
    height: 795px;
    background: url('img/headerbg.png');
    padding-top: 46px;

    &__navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__logo-img {
            padding: 0 70px 0 90px;
        }

        &__ref {
            color: #534b32;

            &.burger-menu {
                color: #63562f;
                font-size: 28px;

            }
        }

        &__item {
            padding: 0 10px 0 0;
        }

        &__items {
            width: 609px;
            display: flex;
            justify-content: space-between;

        }

        &__link {
            margin-right: 52px;
        }

        &__icon {
            display: flex;
            padding: 0 90px 0 70px;


            &__search {}
        }

        &__burger {



            &__item {
                width: 29px;
                height: 4px;
                background-color: #63562f;
                margin-bottom: 9px;
                border-radius: 5px;

            }
        }
    }

    &__information {
        padding: 80px 0 0 0;
        text-align: center;
        width: 633px;
        margin: 0 auto;

        &__title {
            font-family: 'Style Script', cursive;
            font-size: 127px;
            margin: 0 0 30px 0;
        }

        &__subtitle {
            font-size: 33px;
            font-weight: 400;
            margin: 0 0 30px 0;
        }

        &__text {
            margin: 0 0 74px 0;
            line-height: 1.9;
        }

        &__button {
            background-color: rgb(231, 196, 82);
            width: 295px;
            height: 52px;
            border-radius: 50px;
            color: #63562f;

        }
    }
}

@media (max-width: 479px) {
    .container {
        width: 479px;
        margin: 0 auto;
        width: 100%;

    }

    body {}

    .header {
        height: 695px;
        background-image: url('img/headerbgmobile.png');
        padding-top: 35px;

        &__navigation {

            &__logo-img {
                padding: 0;
                margin: 0 70px 0 80px;


            }

            &__ref {
                &.burger-menu {}
            }

            &__item {
                padding: 0 10px 0 0;
                display: none;

            }

            &__items {
                width: 609px;
                display: flex;
                justify-content: space-between;
            }

            &__link {
                margin-right: 52px;
            }

            &__icon {
                display: flex;
                padding: 0;
                margin: 0 30px 0 0px;


                &__search {}
            }

            &__burger {

                &__item {
                    width: 29px;
                    height: 4px;
                    background-color: rgb(231, 196, 82);
                    margin-bottom: 9px;
                    border-radius: 5px;
                }
            }
        }

        &__information {
            padding: 80px 0 0 0;
            text-align: center;
            width: 400px;
            margin: 0 auto;

            &__title {
                font-family: 'Style Script', cursive;
                font-size: 98px;
                margin: 0 0 30px 0;
            }

            &__subtitle {
                font-size: 28px;
                font-weight: 400;
                margin: 0 0 30px 0;
            }

            &__text {
                margin: 0 0 74px 0;
                line-height: 1.9;
            }

            &__button {
                background-color: rgb(231, 196, 82);
                width: 295px;
                height: 52px;
                border-radius: 50px;
                color: #63562f;

            }
        }
    }
}

.header__navigation__burger {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;

    &.active {
        // 

    }

}

.header__navigation__burger span {
    width: 40px;
    height: 4px;
    background-color: #63562f;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #63562f;
    transition: all 0.5s;


}

.header__navigation__burger span:nth-of-type(2) {
    top: calc(25% - 5px);
}

.header__navigation__burger span:nth-of-type(3) {
    top: calc(73% + 5px);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgb(231, 196, 82);
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.menu.active {
    transform: translateX(0);
    text-align: center;
    padding: 45px 0 0 0;
}

.menu li {
    list-style-type: none;
    margin: 0 0 20px 0;
}

.header__navigation__burger.active span:first-of-type {
    transform: translateX(100%);

}

.header__navigation__burger.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.header__navigation__burger.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

nav {
    margin-top: 50%;
    position: sticky;
}